node_modules
.DS_Store
/lib

# Testing configs
ffmpeg-over-ip.client.json
ffmpeg-over-ip.server.json

# Swiftlang stuff
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
